@font-face {
    font-family: 'cyberpunkregular';
    src: url('fonts/cyberpunk-webfont.woff2') format('woff2'),
         url('fonts/cyberpunk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}