<!-- <div class="section">
    <h2 class="section-header sharp">Bitten Tomato</h2>

    <img src="../../../assets/bitten-tomato-logo.png" class="bitten-tomato-logo-50">

    <div class="about-us-text">
        <p><span class="green-text">Bitten Tomato</span> is the world's #1 tech company.</p>
        <p>We are not only dedicated to save as much lives as possible world wide, but we have also founded the world's cheapest online store.</p>
        <p>We have the world's largest products selection, at the cheapest prices possible.</p>
        <p>We invite you to the magnificent world of <span class="green-text">Bitten Tomato</span>.</p>
    </div>
</div> -->